a {
  &:hover {
    text-decoration: none;
  }
}

ul, ol, p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

* {
  margin: 0;
}

.ico-pause{
  color: #cb9643;
  cursor: pointer;
}
.new-mark{
  &::after{
      content: 'new';
      background-color: #cb9643;
      transform: rotate(45deg);
      position: absolute;
      width: 260px;
      height: 30px;
      text-align: center;
      color: #fff;
      top: 8%;
      right: -94px;
      justify-content: center;
      display: flex;
      align-items: center;
      box-shadow:0 4px 8px -2px rgba(0, 0, 0, 0.4)
  }
}