footer {
    max-height: 320px;
    overflow: hidden;
    font-size: 14px;
    .footer__img {
        position: absolute;
    }
    .contact {
        float: right;
        padding-top: 2.25rem;
        &__link {
            justify-content: space-between;
            .button-contact {
                .button {
                    color: #ffffff;
                    background: #4c6ea9;
                    border-radius: 3.2rem;
                    padding: 0.5rem 2rem;
                    border: none;
                }
                .btn--fb {
                    background: #4c6ea9;
                }
                .btn--gg {
                    background: #ff5838;
                }
                .btn--youtube {
                    background: #dc3833;
                }
            }
        }
    }
}

.f-18 {
    font-size: 18px;
    font-weight: 300;
}