.button {
    color: #ffffff;
    background: #4c6ea9;
    border-radius: 3.2rem;
    padding: 0.5rem 2rem;
    border: none;
}

.btn-see-more {
    background-color: #404040;
    color: #dab279;
    font-size: 14px;
}

.btn-buy-course {
    background-color: #cb9644;
    color: #ffffff;
}

.intro {
    .intro-aboutUs {
        background-image: url('/assets/img/intro-1.png');
        background-repeat: no-repeat;
        background-size: 45% 100%;
        background-position: right;
        @media #{$info-tablet-vertical} {
            color: rgba(255, 255, 255, 0.8);
            background-image:linear-gradient(to bottom, rgba($color: #343434, $alpha: 0.8), rgba($color: #343434, $alpha: 0.8)), url('/assets/img/intro-1.png');
            background-size: 100% 100%;
        }
        .text-about {
            max-height: 620px;
            .text-about-us{
                max-width: 55%;
                margin: 0;
                padding: 100px 0;
                @media #{$info-tablet-vertical} {
                    max-width: 100%;
                }
            }
            h2 {
                font-size: 48px;
                padding-bottom: 2rem;
                position: relative;
                &:after {
                    content: '';
                    width: 13%;
                    height: 5px;
                    background-color: #dab279;
                    position: absolute;
                    left: 0;
                    bottom: -5px;
                    z-index: 100;
                }
            }
            span {
                content: '';
                left: 0;
                width: 50%;
                height: 5px;
                background-color: #e5e5e5;
                position: absolute;
                @media #{$info-tablet-vertical} {
                    width: 100%;
                }
            }
            p {
                line-height: 22px;
                padding-top: 2rem;
                font-size: 24px;
            }
        }
    
    }
    .intro-course {
        position: relative;
        .slick-dots {
            z-index: 9999;
            display: flex;
            position: absolute;
            right: 30%;
            margin: 0;
            list-style: none;
            bottom: 40px;
            align-items: center;
            li {
                margin: 0 0.25rem;
                background-color: transparent;
                border-radius: 50%;
                button {
                    font-size: 0;
                    height: 10px;
                    width: 10px;
                    padding: 0;
                    background-color: transparent;
                    border-radius: 50%;
                    color: #fff;
                    display: block;
                    border: 1px solid #ccc;
                }
            }
            li.slick-active button {
                background-color: #fff;
                outline: none;
            }
        }
        .slick{
            width: 100%;
        }
        .text-course {
            max-width: 45%;
            position: absolute;
            right: 0;
            top: 0;
            background-color: rgba($color: #343434, $alpha: 0.8);
            min-height: 100%;
            color: rgba($color: #ffffff, $alpha: 0.8);
            padding: 100px 20% 0 70px;
            @media #{$info-tablet-horizontal} {
                padding: 90px 84px 0 82px;
            }
            @media #{$info-tablet-vertical} {
              max-width: 100%;  
              padding: 90px 90px 0 45px;
            }
            @media #{$info-phone} {
                padding: 15px 50px 0 15px;
            }
            .crossbar {
                content: '';
                left: 0;
                width: 100%;
                height: 5px;
                background-color: rgba($color: #ffffff, $alpha: 0.8);
                position: absolute;
            }
            h2 {
                padding-bottom: 2rem;
                position: relative;
                font-size: 48px;
                &:after {
                    content: '';
                    width: 30%;
                    height: 5px;
                    background-color: #dab279;
                    position: absolute;
                    left: 0;
                    bottom: -5px;
                    z-index: 100;
                }
            }
            p {
                padding: 2rem 0;
                font-size: 14px;
            }
        }
    }
}

